FACTORY_API_URL=https://factory3.onrender.com
FACTORY_API_SECRET=
PLATFORM_JWT_SECRET=
MULTI_SHOPPER_MODULE_CODE=vertical_multi_shopper
MULTI_SHOPPER_SCHEMA=multi_shopper
MULTI_SHOPPER_COMPANY_ID=EMP_MULTI_SHOPPER
MULTI_SHOPPER_PROJECT_CODE=PROY-001
MULTI_SHOPPER_WRITE_KEY=
NEXT_PUBLIC_APPS4ALL_URL=
MULTI_SHOPPER_STORAGE_BUCKET=multi-shopper-documents
