NEXT_PUBLIC_FACTORY_API_URL=https://factory3.onrender.com
NEXT_PUBLIC_WRITE_KEY=
NEXT_PUBLIC_ERP_COMPANY_ID=EMP_DURALON
NEXT_PUBLIC_ERP_SALES_PROJECT_CODE=PROY-002
NEXT_PUBLIC_ERP_SALES_MODULE_CODE=ventas
NEXT_PUBLIC_ERP_SALES_SCHEMA=uc101_proy002
NEXT_PUBLIC_ERP_INVENTORY_PROJECT_CODE=PROY-004
NEXT_PUBLIC_ERP_INVENTORY_MODULE_CODE=inventario
NEXT_PUBLIC_ERP_INVENTORY_SCHEMA=uc101_proy004
NEXT_PUBLIC_ERP_LOGISTICS_PROJECT_CODE=PROY-008
NEXT_PUBLIC_ERP_LOGISTICS_MODULE_CODE=logistics
NEXT_PUBLIC_ERP_LOGISTICS_SCHEMA=uc101_proy008
