FACTORY_API_URL=
FACTORY_RUN_SECRET=
PLATFORM_JWT_SECRET=
PLATFORM_SUPABASE_URL=
PLATFORM_SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APPS4ALL_URL=
GPTADS4ALL_SCHEMA=gptads4all
GPTADS4ALL_MODULE_CODE=gptads4all
GPTADS4ALL_PROJECT_CODE=PROY-001
